<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyUuZAeo_H72UPqmXe2TV92Z1AV8NlTeM</string>
	<key>GCM_SENDER_ID</key>
	<string>135455508661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.creditCardSim</string>
	<key>PROJECT_ID</key>
	<string>credit-card-sim</string>
	<key>STORAGE_BUCKET</key>
	<string>credit-card-sim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135455508661:ios:cd953bb3f181ba2ddb56fc</string>
</dict>
</plist>